<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mybatis.properties">
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://112.124.6.220:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
	</properties>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias alias="product" type="org.txazo.mybatis.bean.Product" />
		<package name="org.txazo.mybatis.bean" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="org.txazo.mybatis.handler.JSONTypeHandler" />
	</typeHandlers>

	<objectFactory type="org.txazo.mybatis.factory.MyBatisObjectFactory" />

	<objectWrapperFactory type="org.txazo.mybatis.factory.MyBatisObjectWrapperFactory" />

	<plugins>
		<plugin interceptor="org.txazo.mybatis.plugin.MyBatisInterceptor"></plugin>
		<plugin interceptor="org.txazo.mybatis.plugin.ExecutorInterceptor"></plugin>
		<plugin interceptor="org.txazo.mybatis.plugin.MapInterceptor"></plugin>
	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" /> <!-- org.apache.ibatis.transaction.jdbc.JdbcTransaction -->
			<!-- <transactionManager type="MANAGED" /> -->
			<dataSource type="POOLED"> <!-- org.apache.ibatis.datasource.pooled.PooledDataSource -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<property name="poolMaximumActiveConnections" value="20" />
			</dataSource>
			<!-- <dataSource type="JNDI" /> -->
			<!-- <dataSource type="UNPOOLED" /> -->
		</environment>
	</environments>

	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver" />
		<property name="DB2" value="db2" />
		<property name="Oracle" value="oracle" />
		<property name="MySQL" value="mysql" />
	</databaseIdProvider>

	<mappers>
		<!-- <mapper resource="org/txazo/mybatis/dao/ProductMapper.xml" /> -->
		<!-- <mapper class="org.txazo.mybatis.dao.ProductAnnoMapper" /> -->
		<package name="org.txazo.mybatis.dao" />
	</mappers>
</configuration>