<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.txazo.mybatis.dao.JsonMapMapper">

	<insert id="insertMap" parameterType="jsonMap">
		insert into JsonMap(json) values (#{json, javaType=map, jdbcType=VARCHAR})
	</insert>

	<resultMap id="JsonMapResult" type="jsonMap">
		<result column="json" property="json" javaType="map" jdbcType="VARCHAR" />
		<!-- <result column="json" property="json" typeHandler="org.txazo.mybatis.handler.JsonMapTypeHandler" /> -->
	</resultMap>

	<select id="selectMap" parameterType="_long" resultMap="JsonMapResult">
		SELECT json FROM JsonMap WHERE id = #{id}
	</select>

</mapper>