<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.txazo.mybatis.dao.ProductMapper">

	<insert id="insertProduct" parameterType="product" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Product (name, price, createTime) VALUES (#{name}, #{price}, now())
	</insert>

	<update id="updateProduct" parameterType="product">
		UPDATE Product SET price = #{price} WHERE id = #{id}
	</update>

	<select id="selectProduct" parameterType="long" resultType="product">
		SELECT * FROM Product WHERE id = #{id}
	</select>

</mapper>